#left-container {
  width: '50%';
  right: '50%'
  /* top: 19px;
  bottom: 0px; */
}

#right-container {
  top: 20px;
}

.marker-btn {
  background: none; 
  border: none;
  cursor: pointer; 
}

.marker-btn img {
  width: 25px;
  height: 25px;
}

#card-container {
  overflow-y: scroll;
  max-height: 900px;
}